<!DOCTYPE html>
<html>
  <head>
    <title>All Recipes</title>
  </head>
  <body>
    <h3>Saved Recipes</h3>
    <p><% @recipes.each do |recipe| %></p>
    <p><%= recipe.name %><br></p>
    <p><%= recipe.ingredients %><br></p>
    <p><%= recipe.cook_time %><br></p>
    <p><% end %>
  </body>
</html>
