<!DOCTYPE html>
<html>
  <head>
    <title>Display Recipe</title>
  </head>
  <body>
    <h3>Your Recipe Has Been Posted</h3>
    <p><%= @post.name %></p>
    <p><%= @post.content %></p>
    <form method="post" action="/posts/<%= @post.id %>/delete">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" id="delete" value="delete">
    </form>
  </body>
</html>
